/* Your Website Styles */
h1{
	color: #003494;
	font-family: 'Lobster', cursive;
	width: 300px;
	margin: 100px;
	padding: 10px;
	border: 10px solid black;
}

body{
	background: url("../img/bg.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}